<% if @event.errors.any? %>
  <div class="alert alert-danger">
    <h4>There are <%= pluralize(@event.errors.count, "error") %>.</h4>
    <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container center">
  <h1><%= @venue.name %></h1>
  <h3>Event info</h3>

  <div class="col-md-8 ">
    <%= form_for [@venue, @event] do |f| %>
      <div class="form-group">
        <%= f.label :Title, :class=>"col-sm-2 control-label"  %>
        <%= f.text_field :title %>
      </div>
      <div class="form-group">
        <%= f.label :date, :class=>"col-sm-2 control-label"  %>
        <%= f.date_field :date %>
      </div>
      <div class="form-group">
        <%= f.label :"21+?", :class=>"col-sm-2 control-label"  %>
        <%= f.check_box :twentyOne %>
      </div>
      <div class="form-group">
        <%= f.label :"cover?", :class=>"col-sm-2 control-label"  %>
        <%= f.check_box :cover %>
      </div>
      <div class="form-group"> 
        <%= f.label :stage_size, :class=>"col-sm-2 control-label"  %>
        <%= f.text_area :stage, :rows=>1, :cols=>45  %>
      </div>
      <div class="form-group">
        <%= f.label :equipment, :class=>"col-sm-2 control-label"  %>
        <%= f.text_area :equipment, :rows=>3, :cols=>45 %>
      </div>
      <div class="form-group">
        <%= f.label :description, :class=>"col-sm-2 control-label" %>
        <%= f.text_area :description, :rows=>3, :cols=>45 %>
      </div>
      <div class="form-group">
        <%= f.label :other, :class=>"col-sm-2 control-label"  %>
        <%= f.text_area :other, :rows=>3, :cols=>45  %>
      </div>
      <div class="form-group"> 
        <%= f.label :disclaimer, :class=>"col-sm-2 control-label"  %>
        <%= f.text_area :disclaimer, :rows=>5, :cols=>45 %>
      </div>
  
      <%= f.hidden_field :venue_id, value: @venue.id %>
      <%= f.hidden_field :event_id, value: @event.id %>
      
      <div class= "row col-md-6 pad-top">
        <%= f.submit "Save" %>
      </div>
      
    <% end %>
   </div>
</div>