<div class="container">
  <div class="row col-md-12">
    <h1><%=@event.title%></h1>
  </div>
  <div class="row col-md-12">
    <p><%= @event.date %> @ <%= @venue.name %></p>
  </div>
  <div class="row upcoming col-md-12">
    <h3>Schedule</h3>
    <div class ="row col-md-6 col-md-offset-3 display-shows">
      
      <% @slots.each do |slot| %>
        <% if slot.confirmed == false %>
          <div class = "btn-info btn-lg"> 
            <div class="row">
              <div class = "col-sm-4">
                <%= slot.time.strftime("%I:%M%p") %>
              </div>
              <div class = "col-sm-2">
                <h4> <%= link_to "Unconfirmed", "/slots/#{slot.id}/slot_applications" %> </h4>  
              </div>
            </div>
          </div>

        <% else %>
          <% @slot_apps.each do |slot_app| %>
              <% @bands.each do |band| %>
                <% if slot_app.slot == slot && slot_app.approved == true && slot_app.band == band %>
                  <div class = "btn-info btn-lg"> 
                    <div class="row">
                      <div class = "col-sm-4">
                        <h4><%= link_to "#{slot.time.strftime("%I:%M%p")}  ", "/bands/#{band.id}/about" %></h4> 
                      </div>
                      <div class = "col-sm-4">
                      <h4><%= link_to "#{band.name} ", "/bands/#{band.id}/about" %></h4> </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

    <div class = "btn-info btn-lg"> 
      <div class="row">
        <div class = "col-sm-12">
          <%=link_to "Add slot",  [:new, @event, :slot] %>
        </div>
      </div>
    </div>
    
    <div class="row col-md-6 col-md-offset-3">
    <div class = "col-sm-6 col-sm-offset-3">
        <%= link_to "Cancel show", [@venue,@event], method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to cancel this show!? This cannot be undone' } %>
    </div>
  </div>
  </div>

  <div class="row col-md-12">
    <%= link_to "back to venue", venue_path(@venue)%>
  </div>
  
  <div class="row col-md-12">
    <div class="row col-md-6 col-md-offset-3">
    <div class = "col-sm-6 col-sm-offset-3">
    <footer>Locl Shows</footer>
    </div>
  </div>
  </div>
</div>