<div class="container center">
  <div class="row col-md-12">
    <h1>SHOW DETAILS</h1>
  </div>
  
  <div class="row col-md-12">
    <p>Venue: <%= link_to @venue.name,"/venues/#{@venue.id}/about" %></p>
    <p>Title: <%= @event.title %></p>
    <p>Date: <%= @event.date %></p>
  </div>
  
  <div class="row pad-top col-md-12">
    <h3>Schedule</h3>
    <div class ="row col-md-6 col-md-offset-3 pad-top">
      
      <% @slots.each do |slot| %>
        
        <% if slot.confirmed == false %>
          <div class = "btn-info btn-lg"> 
            <div class="row">
              <div class = "col-sm-12">
                <h4><%=  link_to "#{slot.time.strftime("%I:%M%p")} OPEN Click here to book", new_slot_slot_application_path(slot)  %></h4>  
              </div>
            </div>
          </div>

        <% else %>
        
          <% @slot_apps.each do |slot_app| %>
            <% if slot_app.slot == slot %>
              <% @bands.each do |band| %>
                <% if slot_app.band == band %>
                  <div class = "btn-info btn-lg"> 
                    <div class="row">
                      <div class = "col-sm-12">
                        <h4><%= link_to "#{slot.time.strftime("%I:%M%p")} #{band.name}", "/bands/#{band.id}/about" %></h4> 
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        
        <% end %>
      
      <% end %>
    
    </div>
    
  </div>

</div>