<div class="container ">
  <h1 class="center"><%= @venue.name %></h1>
  
  <div class="photo">
      <%= image_tag(@venue.photo.url) if @venue.photo? %>
  </div>
  
  <div class="col-md-12">
    <div class="col-sm-6 col-sm-offset-3">
      <p><span class="bold">Name: </span><%= @venue.name %></p>
      <p><span class="bold">Address: </span><%= @venue.address %></p>    
      <p><span class="bold">City: </span><%= @venue.city %></p>
      <p><span class="bold">State: </span><%= @venue.state %></p>
      <p><span class="bold">Zip: </span><%= @venue.zip %></p>
      <p><span class="bold">neighborhood: </span><%= @venue.neighborhood %></p>
      <p><span class="bold">phone: </span><%= @venue.phone %></p>
      <p><span class="bold">website: </span><%= @venue.website %></p>
      <p><span class="bold">description: </span><%= @venue.description %></p>
      <p><span class="bold">email: </span><%= @venue.email %></p>
    </div>
  </div>
  
  <% if @user == current_user %>
    <div class = "col-md-2 col-md-offset-4 btn-info btn-sm">
      <%= link_to "edit info", edit_venue_path %>
    </div>
  <% end %>

  <div class = "col-sm-12 center pad-top pad-bottom">
    <%= link_to "Back", @venue %>
  </div>
</div>