<div class="container center">
  <div class = "row">
    <div class = "row col-md-5 col-md-offset-3 ">
      <h1><%= @venue.name %></h1>
      <p><%= link_to "View venue info","/venues/#{@venue.id}/about"%></p>
      <p><%= link_to "Edit venue info", edit_venue_path(@venue) %></p>
    </div>
    <div class = "row col-md-3 col-md-offset-4 btn-success btn-lg"> <%= link_to "New Event", [:new, @venue, :event]  %>
    </div>
  </div>
  <div class="row column-headers">
    <div class="col-md-2 col-md-offset-2">    
      DATE
    </div>
    <div class="col-md-3">
      EVENT TITLE
    </div>
    <div class="col-md-2">
      SLOTS
    </div>
  </div>

  <div class = "row"> 
    <div class="h3">
      <div class="col-md-3 col-md-offset-4 ">   
        OPEN
      </div>
    </div>
  </div>
  <!-- open  -->
  <% @events.each do |event| %>
    <% if event.date >= Date.current() %>
      <% if event.venue == @venue %>
        <% @open_event.each do |test| %>
          <% if event.id == test %>
            <div class="row display-shows">
              <div class="col-md-2 col-md-offset-2"> 
                <div class="list-group-item">    
                  <strong><%= link_to event.date, [@venue,event] %></strong>
                </div>
              </div>

              <div class="col-md-3">
                <div class="list-group">  
                  <div class="list-group-item"> 
                    <div class="item-edit-delete">
                      <%= link_to event.title, [@venue,event] %>
                    </div>
                  </div> 
                </div>
              </div>
                  
              <div class="col-md-2">
                <div class="list-group">
                  <div class="list-group-item"> 
                        <%= link_to "OPEN", [@venue,event] %>
                  </div> 
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

<!-- full-->
  <div class = "row"> 
    <div class="row h3">
      <div class="col-md-3 col-md-offset-4 ">   
        Fully booked
      </div>
    </div>
  </div>
  <!-- closed  -->

  <% @events.each do |event| %>
    <% if event.venue == @venue %>
      <% if event.date >= Date.current() %>
        <% @closed_event.each do |close| %>
          <% if event.id == close.id %>
            <div class="row display-shows">
              <div class="col-md-2 col-md-offset-2"> 
                <div class="list-group-item">    
                  <strong><%= link_to event.date, [@venue,event] %></strong>
                </div>
              </div>
              <div class="col-md-3">
                <div class="list-group">  
                  <div class="list-group-item"> 
                    <div class="item-edit-delete">
                      <%= link_to event.title, [@venue,event] %>
                    </div>
                  </div> 
                </div>
              </div>
              <div class="col-md-2">
                <div class="list-group">
                  <div class="list-group-item"> 
                    FULL
                  </div> 
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

<!-- no slots added yet -->
  <div class = "row"> 
    <div class="row h3">
      <div class="col-md-3 col-md-offset-4 ">   
        No slots added yet
      </div>
    </div>
  </div>
  <!-- no slots added yet  -->
  <% @events.each do |event| %>
    <% if event.venue == @venue %>
      <% if event.date >= Date.current() %>
        <% @other.each do |test| %>
          <% if event.id == test.id %>
            <div class="row display-shows">
              <div class="col-md-2 col-md-offset-2"> 
                <div class="list-group-item">    
                  <strong><%= link_to event.date, [@venue,event] %></strong>
                </div>
              </div>
            <div class="col-md-3">
              <div class="list-group">  
                <div class="list-group-item"> 
                  <div class="item-edit-delete">
                    <%= link_to event.title, [@venue,event] %>
                  </div>
                </div> 
              </div>
            </div>             
              <div class="col-md-2">
                <div class="list-group">
                  <div class="list-group-item"> 
                    <%= link_to "NONE", [@venue,event] %>
                  </div> 
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

</div>
