<% if @contact.errors.any? %>
  <div class="alert alert-danger">
    <h4>There are <%= pluralize(@contact.errors.count, "error") %>.</h4>
    <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class = "container center">
  
  <div class="row center col-md-10">

    <h3 class = "pad-top">Send Us a Message</h3>

    <%= form_for @contact do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Enter name" %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control', value:  @email %>
      </div>
      
      <div class="form-group">
        <%= f.label :message %>
        <%= f.text_area :message, class: 'form-control', placeholder: "Enter message" %>
      </div>

      <div class="form-group">
        <%= f.hidden_field :role, value: @role %>
      </div>
      
      <div class="form-group">
        <%= f.submit "Submit", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>