<div class="container">
  <div class = "row">
    <div class = "col-sm-12">
      <h1 class = "center"><%= @band.name %>
      <% if @band.soundcloud != nil %>
        <iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2F<%= @scloud%>&color=orange_white&size=32" style="width: 32px; height: 32px;"></iframe></h1>
      <% end %>
    </div>
  </div>
  
  <div class="photo center">
    <%= image_tag(@band.photo.url) if @band.photo? %>
  </div>

  <div class = "center">
    
  </div>

  <div class="col-sm-12">
    <div class="col-sm-6 col-sm-offset-3">
      <p><span class="bold">Name: </span><%= @band.name %></p>
      <p><span class="bold">City: </span> <%= @band.city %></p>
      <p><span class="bold">Number of Members: </span> <%= @band.members %></p>
      <p><span class="bold">Instruments: </span> <%= @band.instruments %></p>
      <p><span class="bold">Description: </span> <%= @band.description %></p>
      <p><span class="bold">Genre: </span> <%= @band.genre %></p>
      <p><span class="bold">Requirements: </span> <%= @band.requirements %></p>
      <p><span class="bold">Facebook: </span> <%= @band.facebook %></p>
      <p><span class="bold">Website: </span> <%= @band.website %></p>
      <p><span class="bold">Email: </span> <%= @band.email %></p>
      <% if @band.soundcloud %>
        <p><span class="bold">Soundcloud: </span><%= @band.soundcloud%></p><% end %>
      <p><span class="bold">Soundcloud Song: </span><%= @band.song %></p>
    </div>
  </div>

  <% if @band.song != nil %>
    <div>
      
    </div>
  <% end %>

  <% if @user == current_user %>
    <div class = "col-sm-2 col-sm-offset-4 btn-info btn-sm">
      <%= link_to "edit info", edit_band_path %>
    </div>
  <% end %>

  <div class = "center pad-bottom">
    <%= link_to "Back", @band %>
  </div>
  
</div>
