<% if @band.errors.any? %>
  <div class="alert alert-danger">
    <h4>There are <%= pluralize(@band.errors.count, "error") %>.</h4>
    <ul>
      <% @band.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class = "container center">
  <h1>Band info</h1>
  
  <div class="row">

    <%= form_for @band do |f| %>
      <div class="form-group">
        <%= f.label :band_name %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Enter new band name" %>
      </div>

      <div class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city, class: 'form-control', placeholder: "Enter city" %>
      </div>

      <div class="form-group">
        <%= f.label :number_of_members %>
        <%= f.text_field :members, class: 'form-control', placeholder: "Enter number of members in band" %>
      </div>

      <div class="form-group">
        <%= f.label :instruments %>
        <%= f.text_field :instruments, class: 'form-control', placeholder: "Enter types of instruments" %>
      </div>

      <div class="form-group">
        <%= f.label :genre %>
        <%= f.text_field :genre, class: 'form-control', placeholder: "Enter genre" %>
      </div>

      <div class="form-group">
        <%= f.label :soundcloud %>
        <%= f.text_field :soundcloud, class: 'form-control', placeholder: "Enter Soundcloud URL" %>
      </div>
      
      <div class="form-group">
        <%= f.label :soundcloud_song %>
        <%= f.text_field :song, class: 'form-control', placeholder: "Enter song" %>
      </div>
      <p>If you want to add a song to you profile add the name as it appears on your Soundcloud page </p>

      <div class="form-group">
        <%= f.label :facebook %>
        <%= f.text_field :facebook, class: 'form-control', placeholder: "Enter Facebook page" %>
      </div>

      <div class="form-group">
        <%= f.label :website %>
        <%= f.text_field :website, class: 'form-control', placeholder: "Enter website" %>
      </div>

      <div class="form-group">
        <%= f.label :phone %>
        <%= f.telephone_field :phone, class: 'form-control', placeholder: "Enter phone number" %>
      </div>

      <div class="form-group">
        <%= f.label :requirements %>
        <%= f.text_area :requirements, class: 'form-control', placeholder: "Enter any special requirements" %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control', placeholder: "Enter band description" %>
      </div>

       <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control', placeholder: "Enter band email address" %>
      </div>

      <div class="form-group">
        <%= f.label :email_confirmation %>
        <%= f.text_field :email_confirmation, class: 'form-control', placeholder: "Confirm band email address" %>
      </div>

      <div class="form-group">
        <%= f.label :photo %>
        <%= f.file_field :photo %>
        <%= f.hidden_field :photo_cache %>
      </div>

      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
    <% end %>
    
  </div>
</div>