<div class="container center">
  <h1><%= @slot.event.title %></h1>
  <h5><%= @slot.time.strftime("%B %d, %Y") %></h5>
  <div class="row pad-top h4">
      <div class="col-md-4"> Time</div>
      <div class="col-md-4"> Band</div>
      <div class="col-md-4"> Confirm?</div>
    </div>
  <% @slot_applications.each do |slot_app| %>
    <!-- slot -->
    
    
    <div class="row pad-top">
      <div class="col-md-4"> 
        <div class="list-group-item">    
          <strong><%= @slot.time.strftime("%l:%M %P") %></strong>
        </div>
      </div>

      <!-- band -->
      <div class="col-md-4 pad-bottom">   
        <div class="list-group-item"> 
          <% @bands.each do |band| %>
            <% if band.id == slot_app.band_id %>
              <%= link_to slot_app.band.name, "/bands/#{band.id}/about" %>
            <% end %>
          <% end %>
        </div>
      </div>

      <!-- confirm -->
      <div class="col-md-4">   
        <% @bands.each do |band| %>
          <% if band.id == slot_app.band_id %>
              <%= link_to "Confirm band?", edit_slot_path([@slot, band.name => @slot.band ]), class: 'btn btn-success' %>
          <% end %>
        <% end %>
      </div>

    </div>
  <% end %>
</div>